.myenv
databases
mm
projects
sm_database
to_process
constants.py
datafile.db
notes.ipynb
deduped.csv
combined_files.csv
notes.py
utilities
__pycache__/
.DS_Store
constants_og.py
test_lists
modules/constants.py
modules/email_bison_api/constants.py
modules/email_bison_api/credentials.py
modules/sis_international/constants.py